/* .section-model{
    width: 1000px;
    color: white;
    background-color: lightskyblue ;
    border: 10px solid blue;
} */

div{
    width: 500px;
    height: 500px;
    background-color: lightseagreen;
    border-radius: 50%; 
    background-image: linear-gradient(
        to right top,
        #051937,
        #004d7a,
        #008739,
        #00bf72,
        #a8eb12

    );
}