/* h1 {
    color: red;

}

.para {
    color: rgb(38, 0, 255);

}

h1:hover {
    color: blue;
} */

/* #btn {
    color: brown;
} */

/* body {
    width: 100%;
    height: 100vh;
    background-color: #ccc;
     background-image: url('https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTEwL3Jhd3BpeGVsb2ZmaWNlMTFfM2RfY2FydG9vbl9nYW5lc2hfcmVhbGlzdGljX2lzb2xhdGVkX3doaXRlX2JhY182ZTA2ZjdkYS1iMzEzLTQxODQtYmNmOC04NWFjNTgyMjBmYjdfMS5wbmc.png');
    background-repeat: no-repeat; 
    background-size: 50% 100%;
    background-position: top bottom;
}  */
